<button class="btn btn-info" style="margin-top:20px; margin-left: 1000px;margin-bottom: 10px;" [routerLink]="['/table']" > +Create New Contractor</button><br>
<div style="margin-top:1px; margin-left: 1000px;margin-bottom: 1px;" >
  <button (click)="download()" class="btn btn-success">Export To Excel</button> 
 </div>
<input  type="text" id="myInput" style="margin-left:500px;" placeholder="Search here.. " [(ngModel)]="term" title="Type in a name"><br>
<div class="container"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="10px"
fxLayoutGap.xs="0" style="background-color: white;">

<div class="container">
       
<table id="customers">
  <col width="130">
<thead>
 <tr>
   <th>SL.NO</th>
   <th>CONTRACTOR NAME</th>
   <th>COMPANY NAME</th>
   <th>CONTACT NUMBER</th>
   <th>EMAIL</th>
   <th>GST NUMBER</th> 
   <th>ADDRESS</th>
    <th >Action</th> 
   <!-- <th >Action</th>  -->
</thead>
    <tr *ngFor="let driver of contr | paginate: { id:'listing_pagination',itemsPerPage: 15,currentPage: page,totalItems: totalRec } |filter:term; let i = index;">
      <td >{{(page-1)*15+i+1}}</td>
      <td >{{driver.Contr_fname}}</td>
      <td >{{driver.Contr_org}}</td>
      <td >{{driver.Contr_phone}}</td>
      <td >{{driver.Contr_email}}</td>
      <td >{{driver.Contr_gst}}</td>
      <td >{{driver.Contr_addr}}</td>
     
      <td>
        <button class="btn " style="background-color:rgb(137, 137, 241); color:white;" (click)="openModal(driver.Contr_id)">EDIT</button>
     </td> 
     
      <!-- <td>{{driver.bank_name}}</td>
      <td>{{driver.customer_name}}</td>
      <td *ngIf="isAdmin">{{driver.customer_phone}}</td>
      <td>{{driver.comments}}</td> -->
      <!-- <td>
        <button class="btn " style="background-color:rgb(137, 137, 241); color:white;" [routerLink]="['/list-contract']">Recieve</button>
     </td>
       <td>
        <button class="btn " style="background-color:rgb(137, 137, 241); color:white;" [routerLink]="['/statusup']">COMPLETE</button>
     </td>  -->
     </tr>
  </table>
   <div>
    <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
  </div> 
  </div>
  </div>
