<button class="btn btn-info" style="margin-top:10px; margin-left: 1000px;margin-bottom: 5px;" [routerLink]="['/notifications']" >+Create New Employee</button><br>
<div style="margin-top:1px; margin-left: 1000px;margin-bottom: 1px;" >
  <button (click)="download()" class="btn btn-success">Export To Excel</button> 
 </div>
<input  type="text" id="myInput" style="margin-left:500px;" placeholder="Search here.. " [(ngModel)]="term" title="Type in a name"><br>
<div class="container"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="10px"
fxLayoutGap.xs="0" style="background-color: white;">

<div class="container">
       
<table id="customers">
  <col width="130">
<thead>
 <tr>
   <th>SL.NO</th>
   <th>FULL NAME</th>
   <th>EMLOYEE ID</th>
   <th>CONTACT NUMBER</th> 
   <th>ADDRESS</th>
   <th>CITY</th>
   <th>STATE</th>
   <th>COUNTRY</th>
   <th>POSTCODE</th> 
   <th>USER TYPE</th>  
   <th>ACTION</th> 
   
</thead>
    <tr *ngFor="let drive of employees | paginate: { id:'listing_pagination',itemsPerPage: 15,currentPage: page,totalItems: totalRec } |filter:term; let i = index;">
      <td >{{(page-1)*15+i+1}}</td>
      <td >{{drive.u_fullName}}</td>
      <td >{{drive.u_employee_id}}</td>
      <td >{{drive.u_contact_number}}</td>
      <td >{{drive.u_address}}</td>
      <td >{{drive.u_city}}</td>
      <td >{{drive.u_state}}</td>
      <td >{{drive.u_country}}</td>
      <td >{{drive.u_postcode}}</td>
      <td >{{drive.u_type}}</td>
      
     
      <!-- <td>{{driver.bank_name}}</td>
      <td>{{driver.customer_name}}</td>
      <td *ngIf="isAdmin">{{driver.customer_phone}}</td>
      <td>{{driver.comments}}</td> -->
       <td>
        <button class="btn " style="background-color:rgb(137, 137, 241); color:white;" (click)="openModal(drive.u_id)">EDIT</button>
     </td> 
     </tr>
  </table>
   <div>
    <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
  </div> 
  </div>
  </div>
